<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <script type="importmap"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/ControleAlmoxarifado.styles.css" asp-append-version="true" />
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                @await Html.PartialAsync("_Sidebar")

                <main role="main" class="col-md-10 ms-sm-auto px-4">
                    @RenderBody()
                </main>
            </div>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - ControleAlmoxarifado - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/pagination.js"></script>
        <script src="~/js/edit-modal.js"></script>
        <script src="~/js/itens-sizes.js"></script>
        <script src="~/js/clean-filter.js" asp-append-version="true"></script>
        <script src="~/js/open-remote-modal.js" asp-append-version="true"></script>
        <script src="~/js/theme-change.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
