@* Partial: Sidebar menu *@
<nav class="col-md-2 d-none d-md-block bg-light sidebar pt-3">
    <div class="sidebar-sticky sticky-top">
        <h5 class="px-3">Menu</h5>
        <ul class="nav flex-column mt-3">
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Almoxarifado" asp-action="Index">Almoxarifado</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Acessorios" asp-action="Index">Acessórios</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Home" asp-action="NewEntry">Entradas</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Item" asp-action="Index">Saídas</a></li>
            <li class="nav-item px-3 py-1"><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Relatórios</a></li>
        </ul>
    </div>
</nav>
